@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

:root {
  --color-palette-red: #a40000;
  --color-palette-black: #18181d;
  --color-palette-text: #5f5b5a;
}

.bg-palette-red {
  background-color: var(--color-palette-red);
}

.text-palette-text {
  color: var(--color-palette-text);
}

.text-palette-black {
  color: var(--color-palette-black)
}

.text-palette-red {
  color: var(--color-palette-red)
}

.font-chelsea {
  font-family: 'Chelsea_Market', cursive;
}

body {
  margin: 0;
  font-family: 'Sumana', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
