@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-palette-red: #a40000;
  --color-palette-black: #18181d;
  --color-palette-text: #5f5b5a;
}

.bg-palette-red {
  background-color: var(--color-palette-red);
}

.text-palette-text {
  color: var(--color-palette-text);
}

.text-palette-black {
  color: var(--color-palette-black)
}

.text-palette-red {
  color: var(--color-palette-red)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
